@model IEnumerable<AP.Data.User>

@{
    ViewBag.Title = "Usuarios";
}

<h2>Usuarios</h2>

<p>
    @Html.ActionLink("Crear nuevo", "Create", null, new { @class = "btn btn-primary" })
</p>

<table class="table table-striped">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Username)</th>
        <th>@Html.DisplayNameFor(model => model.Email)</th>
        <th>@Html.DisplayNameFor(model => model.FullName)</th>
        <th>@Html.DisplayNameFor(model => model.IsActive)</th>
        <th>@Html.DisplayNameFor(model => model.CreatedAt)</th>
        <th>@Html.DisplayNameFor(model => model.LastLogin)</th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>@Html.DisplayFor(modelItem => item.Username)</td>
        <td>@Html.DisplayFor(modelItem => item.Email)</td>
        <td>@Html.DisplayFor(modelItem => item.FullName)</td>
        <td>@(item.IsActive ? "Si" : "No")</td>
        <td>@Html.DisplayFor(modelItem => item.CreatedAt)</td>
        <td>@Html.DisplayFor(modelItem => item.LastLogin)</td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.UserId }) |
            @Html.ActionLink("Detalles", "Details", new { id = item.UserId }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.UserId })
        </td>
    </tr>
}
</table>
